booklist.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="booklist">
    <xs:complexType>
      <xs:sequence>
       <xs:element name="book" maxOccurs="5">
       <xs:complexType>
       <xs:sequence>
       <xs:element name ="title" type="xs:string"/>
       <xs:element name="author" type="xs:string"/>
       <xs:element name="publisher" type="xs:string"/>
       <!--<xs:element name="edition" type="xs:integer"/>-->
       <xs:element name="edition">
       <xs:complexType>
       <xs:simpleContent>
       <xs:extension base ="xs:string">
       <xs:attribute name="vol" type="xs:integer"/>
       </xs:extension>
       </xs:simpleContent>
       </xs:complexType>
       </xs:element>
       <xs:element name="price">
       <xs:simpleType>
       <xs:restriction base="xs:integer">
       <xs:minInclusive value="0"/>
       <xs:maxInclusive value="9000"/>
       </xs:restriction>
       </xs:simpleType>
       </xs:element>
       </xs:sequence>
       <xs:attribute type="xs:integer" name="id"/>
       </xs:complexType>
       </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>